x-common-variables: &common-variables
  PUID: 1000
  PGID: 973
  TZ: Etc/UTC

services:
  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    networks:
      - infra-services
    ports:
      - 8180:80
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    environment: *common-variables
    networks:
      - infra-services
      - backend
    ports:
      - 9090:9090
    user: "0"
    volumes:
      - /opt/docker/prometheus/config:/etc/prometheus
      - /opt/docker/prometheus/prometheus:/prometheus
    restart: unless-stopped

  prometheus-nvidiasmi:
    image: e7db/prometheus-nvidiasmi:cuda11
    container_name: prometheus-nvidiasmi
    environment: *common-variables
    networks:
      - infra-services
      - backend
    ports:
      - 9202:9202
    user: "0"
    privileged: true
    runtime: nvidia
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /opt/docker/watchtower/config.json:/config.json
      - /etc/localtime:/etc/localtime
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --interval 600

  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Etc/UTC
    ports:
      - 8191:8191
    restart: unless-stopped

networks:
  infra-services:
    name: infra-services
  backend:
    name: backend
    external: true
