volumes:
  db_storage:
  n8n_storage:

services:
  db:
    image: postgres:16
    container_name: n8n-postgres
    restart: always
    networks:
      - n8n
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - POSTGRES_NON_ROOT_USER
      - POSTGRES_NON_ROOT_PASSWORD
    volumes:
      - db_storage:/var/lib/postgresql/data
      - ./init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    container_name: n8n
    networks:
      - n8n
      - backend
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: n8n-postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: ${POSTGRES_DB}
      DB_POSTGRESDB_USER: ${POSTGRES_NON_ROOT_USER}
      DB_POSTGRESDB_PASSWORD: ${POSTGRES_NON_ROOT_PASSWORD}
      N8N_SECURE_COOKIE: false
      N8N_HOST: workflow.thecowsaysmoo.net
      N8N_EDITOR_BASE_URL: https://workflow.thecowsaysmoo.net
      N8N_WEBHOOK_URL: https://workflow.thecowsaysmoo.net
      NODE_FUNCTION_ALLOW_BUILTIN: ${NODE_BUILTIN}
      N8N_COMMUNITY_PACKAGES_ENABLED: true
      N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE: true
    ports:
      - 5678:5678
    volumes:
      - n8n_storage:/home/node/.n8n
    depends_on:
      db:
        condition: service_healthy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5678/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

networks:
  n8n:
    name: n8n
    driver: bridge
  backend:
    name: backend
    external: true
