x-common-variables: &common-variables
  PUID: 1000
  PGID: 973
  TZ: Etc/UTC

services:
  foundry:
    image: felddy/foundryvtt:release
    container_name: foundry
    networks:
      - public-services
      - backend
    environment:
      <<: *common-variables
      CONTAINER_PRESERVE_CONFIG: true
      FOUNDRY_USERNAME: ${F_USER}
      FOUNDRY_PASSWORD: ${F_PASS}
      FOUNDRY_ADMIN_KEY: ${F_ADMIN_KEY}
    ports:
      - 30000:30000/tcp
    volumes:
      - /opt/docker/foundry:/data
    restart: unless-stopped

  kavita:
    image: jvmilazz0/kavita:latest
    container_name: kavita
    networks:
      - public-services
      - backend
    environment: *common-variables
    ports:
      - 5000:5000
    volumes:
      - /opt/data:/data
      - /opt/docker/kavita/config:/kavita/config
    restart: unless-stopped

  vault:
    image: vaultwarden/server:latest
    container_name: vault
    networks:
      - public-services
      - backend
    ports:
      - 8085:80
    environment:
      <<: *common-variables
      SIGNUPS_ALLOWED: true
      ADMIN_TOKEN: ${VAULT_TOKEN}
    volumes:
      - /opt/docker/vault/data:/data
    restart: unless-stopped

  pastebin:
    image: wantguns/bin
    container_name: patebin
    networks:
      - public-services
      - backend
    environment:
      <<: *common-variables
      BIN_PORT: 6163
      BIN_CLIENT_DESC: moo
    volumes:
      - /opt/docker/pastebin/data:/upload

  plex:
    image: plexinc/pms-docker:plexpass
    container_name: plex
    environment:
      PLEX_GID: 973
      PLEX_UID: 970
      TZ: etc/UTC
    network_mode: host
    tmpfs:
      - /transcode:size=8G,uid=970,gid=973,mode=777
    volumes:
      - /opt/docker/plex:/config
      - /opt/data/media:/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, utility, video]
    restart: unless-stopped

networks:
  public-services:
    name: public-services
  backend:
    name: backend
    external: true
